.bg-custome-img {
  background-image: url("assets/images/webCovers/river.jpg");
  background-size: cover;
  background-position: center;
}

.gradient-green {
  background: rgb(0,94,38);
  background: linear-gradient(299deg, rgba(0,94,38,0.9) 0%, rgba(27,190,100,0.9) 83%);
}

.gradient-blue {
  background: rgb(0, 0, 150);
  background: linear-gradient(
    299deg,
    rgba(0, 0, 150, 1) 0%,
    rgba(3, 124, 205, 1) 88% 
  );
 
}

.transition-background {
  transition: 0.3s ease-in;
}

.img-down-animation {
  animation: arrowBlink 3s infinite;
}
@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}
